In [5]:
import pandas as pd
import numpy as np

In [3]:
from sqlalchemy import create_engine

In [4]:
temp_db = create_engine('sqlite:///:memory:')

In [7]:
df = pd.DataFrame(data=np.random.randint(0,100,size=(4,4)),columns=['a','b','c','d'])

In [8]:
df

    a   b   c   d
0  35  23  41   8
1  79  12  76  53
2  76  52  75  66
3  57  68  92  53

In [9]:
df.to_sql(name='new_table', con=temp_db)

In [11]:
new_df = pd.read_sql(sql='new_table', con=temp_db)

In [12]:
new_df

   index   a   b   c   d
0      0  35  23  41   8
1      1  79  12  76  53
2      2  76  52  75  66
3      3  57  68  92  53

In [13]:
new_df.drop('index', axis=1)

    a   b   c   d
0  35  23  41   8
1  79  12  76  53
2  76  52  75  66
3  57  68  92  53

In [14]:
new_df

   index   a   b   c   d
0      0  35  23  41   8
1      1  79  12  76  53
2      2  76  52  75  66
3      3  57  68  92  53

In [15]:
result = pd.read_sql_query(sql='SELECT a,c FROM new_table', con=temp_db)

In [16]:
result

    a   c
0  35  41
1  79  76
2  76  75
3  57  92