# Pandas - Text Methods for String Data
---

In [1]:
import numpy as np
import pandas as pd

In [2]:
email = 'jose@email.com'

In [3]:
email.split('@')

['jose', 'email.com']

In [4]:
names = pd.Series(['Andrew', 'Bobo', 'Claire', 'David', '5'])

In [5]:
names

0    Andrew
1      Bobo
2    Claire
3     David
4         5
dtype: object

In [6]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [7]:
names

0    Andrew
1      Bobo
2    Claire
3     David
4         5
dtype: object

In [8]:
email.isdigit()

False

In [10]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [11]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [12]:
len(tech_finance)

2

In [13]:
tickers = pd.Series(tech_finance)

In [14]:
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [22]:
tickers.str.split(',', expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [16]:
tech = 'GOOG,APPL,AMZN'

In [19]:
tech.split(',')

['GOOG', 'APPL', 'AMZN']

In [20]:
tech.split(',')[0]

'GOOG'

In [23]:
messy_names = pd.Series(['Andew  ', 'bo;bo', '   claire  '])

In [24]:
messy_names

0        Andew
1          bo;bo
2       claire
dtype: object

In [25]:
messy_names[0]

'Andew  '

In [29]:
messy_names.str.replace(';', '').str.strip().str.capitalize()

0     Andew
1      Bobo
2    Claire
dtype: object

In [28]:
messy_names.str.replace(';', '').str.strip()[0]

'Andew'

In [30]:
def cleanup(name):
    name = name.replace(';', '')
    name = name.strip()
    name = name.capitalize()
    return name

In [31]:
messy_names.apply(cleanup)

0     Andew
1      Bobo
2    Claire
dtype: object